@import "tailwindcss";

@theme {
  --color-oceano: #062B4F;
  --color-atmosfera: #006DB2;
  --color-areia: #EDE5D8;
  --color-brisa: #F7F7F2;
  --color-dourado: #C79A42;
  --color-verde: #526B52;
  --color-terra: #111111;

  --font-display: "Plus Jakarta Sans", sans-serif;
  --font-body: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #062B4F;
  color: #EDE5D8;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}

::selection {
  background-color: #C79A42;
  color: #062B4F;
}

@media (pointer: coarse) {
  * { cursor: auto; }
}
